*,
::before,
::after {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
.main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
  column-gap: 50px;
  height: 10vh;
  background-color:white;
position: fixed;
  
  }
  .search{
    margin-top: 5px;
   height: 50px;
      width: 30%;
      max-width: 700px;
      background: rgba(156, 156, 130, 0.3);
      display: flex;
      align-items: center;
      border-radius: 60px;
      padding: 10px 20 px;
      position: fixed;
  }
  .search input{
    background : transparent;
    flex :1;
    border: 0;
    outline: none;
    padding : 24px 20px;
    font-size : 20 px;
    color: blue;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .nav li{
font-size: 30px;
display: inline;
padding: 5px;
  }

  .secondmain{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  column-gap: 50px;
  background-color: rgb(206, 195, 195,0.2);
  height: 900px;
  }
  .p1{
    font-size: 25px;
    margin-top: 5px;
    margin-left: 20px;
  }
  .p2{
    font-size: 15px;
    margin-left: 20px;
  }
  .embed ul{
    list-style-type: circle;
  }
  .embed li{
    font-size: 30px;
  }
  .embed hr{
    margin-top: 10px;
    margin-left: 20px;
    
  }
  h2{
    margin-left: 20px;
    font-size: 15px;
    margin-top: 15px;
  }
  .thirdp{
    margin-left: 20px;
    font-size: 15px;
    margin-top: 15px;
  }
  .embed embed{
    margin-left: 20px;
  }
  .thumbnails {
    
    margin: 0;
  }
  .thumbnails img{
    display: block;
    object-fit: contain;
    width: 300px;
    height: 300px;
    
    align-items: center;
  }

  .red{
    margin-top: 0px; 
    font-size: 20px;
  }